.main-container
{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-info_block
{

}

.main-type-block
{

}

.main-info_title
{
    text-align: center;
    font-size: 22px;
    color: black;
}

.main-info_wrapper
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-info_cards
{
    flex-basis: calc(25% - 20px);
    flex-shrink: 1;
    flex-grow: 1;

    font-family: 'arial';

    padding: 32px;
    margin: 8px;

    background: #FFFFFF;
    box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.main-info_cards_title
{
    font-size: 22px;
    color: black;
    margin: 0;
}

.main-info_cards_body
{

}

.main-info_cards_text
{
    font-size: 16px;
    color: #969696  ;
}